<app-header></app-header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Listado de noticias</h1>
        <p class="lead text-muted">En esta cabecera tiene un botón para añadir una noticia al listado, y otro para borrar todas las noticias. En cada noticia tiene botones para editar y para borrar la noticia.</p>
        <p>
          <a href="#" class="btn btn-primary my-2" (click)="addBlogNewButtonHandler()">Añadir noticia</a>
          <span>&nbsp;</span>
          <a href="#" class="btn btn-secondary my-2" (click)="deleteAllButtonHandler()">Borrar noticias</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let blogNew of blogNews | keyvalue" class="col">
          <app-blog-new [blogNew]="blogNew.value" (editBlogNewEvent)="editBlogNewEventHandler($event)" (deleteBlogNewEvent)="deleteBlogNewEventHandler($event)"></app-blog-new>
        </div>
      </div>
    </div>
  </div>

  <app-blog-new-form #blogNewFormComponent></app-blog-new-form>

  <app-confirm-form #confirmFormComponent></app-confirm-form>

</main>

<app-footer></app-footer>